@font-face {
    font-family: 'Code-Bold';
    src: url('/fonts/CODE-Bold.otf');
}

.navbar{
    position:fixed;
    top:0;

    width:100vw;
    height:auto;
    z-index:99;

    font-family:Code-Bold;
    color:black;
    font-size:calc(1vh + 1vw);

    > span{
        position:absolute;
        left:5vh;
        top:3vh;

        cursor: pointer;
    }

    .pc {
        position:absolute;
        right:0;
        top:3vh;
        display:inline-flex;
        list-style:none;
        margin:0;
        li{
            margin-right:6vh;
            cursor: pointer;
        }
    }

    .mobile{
        display:none;
        position:absolute;
        right:3vh;
        top:2.5vh;
        width:9vw;
        height:5vw;

        flex-flow:column;
        
        > span{
            min-height:4px;
            background-color: black;

            width:100%;
            margin-bottom:2vw;
        }
    }
}

@media screen and (max-width:767px) {
    .navbar{
        span{
            font-size:4vh;
        }
        .pc{
            display:none;
        }
        .mobile{
            display:flex;
        }
    }
}