@mixin animation ($delay, $duration, $name, $timing, $iter) {
    animation-delay: $delay;
    animation-duration: $duration;
    animation-name: $name;
    animation-timing-function: $timing;
    animation-iteration-count: $iter;
}

@mixin keyframes ($animation_name) {
    @keyframes #{$animation_name} {
        @content;
    }
}

.persimSection {
    position:relative;
    height:max(100vh, 100vw);
    width:100vw;
    transition:ease-in-out 1.0s;
}
.persimmon{
    $persimSize:max(50vh, 100vw);
    position:absolute;
    
    width:100vw; 
    height:#{$persimSize};
}