@mixin animation ($delay, $duration, $name, $timing, $fill, $iter) {
    animation-delay: $delay;
    animation-duration: $duration;
    animation-name: $name;
    animation-timing-function: $timing;
    animation-fill-mode: $fill;
    animation-iteration-count: $iter;
}
@mixin keyframes ($animation_name) {
    @keyframes #{$animation_name} {
        @content;
    }
}


.banner {
    position:relative;
    display:flex;
    flex-flow:row;
    justify-content: center;
    align-items: center;

    background-color:#FE796E;
    overflow:hidden;

    padding-left:1%;
    height:100vh;
    width:100%;

    color:#BFD3FC;
    font-family:Code-Bold;
}
.bannerText {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    max-width:60%;
    height:60%;
    font-size:20vmin;

    &>* {
        height:33.3333%;
    }
}

.bannerImageWrap{
    flex-grow:1;
}

.footer{
    background-color:white;
}

//iphone 5 / se
@media screen and (max-width:320px) {
    .bannerImage{
        width:100vw;
    }
}
@media screen and (max-width:1520px) {
    .bannerText{
        font-size:15vmin;
        height:45%;
    }
}

@media screen and (max-width:1200px) {
    .bannerText{
        font-size:10vmin;
        height:30%;
    }
}

@media screen and (max-width:1024px) {
    .banner{
        flex-direction: column;
    }
    .bannerText{
        max-width:100%;
        flex-grow:0;
        font-size:100px;
        height:300px;
        margin-top:20%;
    }
    .bannerImageWrap{
        flex-grow:1;
    }
    .bannerImage{
        height:100%;
        width:100%;
    }
}

@media screen and (max-width:768px) {
    .bannerText{
        height:210px;
        font-size:70px;
    }
}
