@mixin animation ($delay, $duration, $name, $timing, $fill, $iter) {
    animation-delay: $delay;
    animation-duration: $duration;
    animation-name: $name;
    animation-timing-function: $timing;
    animation-fill-mode: $fill;
    animation-iteration-count: $iter;
}
@mixin keyframes ($animation_name) {
    @keyframes #{$animation_name} {
        @content;
    }
}
@font-face {
    font-family: 'Code-Bold';
    src: url('/fonts/CODE-Bold.otf');
}

.work {
    display:flex;
    position:relative;
    height:100vh;
    width:100vw;

    background-color:#FE796E;

    overflow-x:hidden;
    overflow-y:hidden;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
    &::-webkit-scrollbar {
        width:0;
        height:0;
    }
}

.circleWrap {
    flex-grow:1;
}

.circle {
    position:absolute;
    height:100vh;
    width:100vh;
    left:-40vh;
   
    border:4px solid #BFD3FC;
    border-radius:50%;
    color:#BFD3FC;
    font-family:Code-Bold;

    transition:1.0s ease-out;
    background-color:transparent;

    h1{
        display:flex;
        align-items: center;
        justify-content: center;

        font-size:72pt;
        left:49%;
        top:49%;

        position:absolute;
        width:2%;
        height:2%;
        margin:0;
    }

    .arrowWrap, .arrowWrapHidden {
        display:flex;
        align-items: center;
        justify-content: center;
        position:absolute;
        left:72%;
        top:12%;
        transition:0.5s ease;

        h2 {
            height:10px;
            width:10px;
            margin:0;
        }

        .arrow {
            position:absolute;
            top:45px;
            left:-50px;
            
            transform-origin: center center;
            transform:rotate(60deg);
            height:200px;
            width:200px;
            border:4px solid;
            border-color: #BFD3FC transparent transparent transparent;
            border-radius: 50% 50% 0 0;
            color:#BFD3FC;

            &::before, &::after {
                content:"";
                border:2px solid #BFD3FC;
                background: #BFD3FC;
                width:10%;
                position:absolute;
                top:13%;
                left:75%;
            }
            &::after{
                transform:rotate(-100deg);
                left:80%;
                top:8%;
            }
        }
    }
    .arrowWrapHidden {
        opacity:0;
    }
}

.years {
    display:flex;
    align-items: center;
    justify-content: center;

    position:absolute;
    height:4%;
    width:4%;
    top:48%;
    left:48%;

    transform-origin: center center;
    font-size:260px;
}

.projectWrap {
    display:flex;

    margin-top:80px;
    width:45%;

    overflow-y:scroll;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
    &::-webkit-scrollbar {
        width:0;
        height:0;
    }
}


@media screen and (max-width:1024px) {
    .work {
        flex-direction: column;
        overflow-y:scroll;
        min-height:100%;
    }
    .circleWrap{
        position:relative;
        width:100%;
        height:0;
        padding-bottom:70%;
    }
    .circle{
        height:100vw;
        width :100vw;
        top:-50vw;
        left:0;

        .arrowWrap, .arrowWrapHidden{
            top:80%;
            left:55%;

            h2 {
                font-size:14pt;
            }
            
            .arrow{
                height:120px;
                width:120px;
                top:-70px;
                left:-100px;
                transform:rotate(200deg);
            }
        }
    }
    .years{
        font-size:50px;
    }

    .projectWrap{
        flex-grow:11;

        overflow-y: visible;
        height:fit-content;
        max-width:100%;
        width:100%;
        margin-top:0;
    }
}